a {
  color: #AD9B9A;
  text-decoration: none;
}

h3 {
  margin-top: 20px;
}

p {
  margin-bottom: 3px;
}

i {
  margin-right: 10px;
}

.background-title {
  background-color: #AD9B9A;
  padding: 30px;
}

.background-title h1 {
  margin-left: 160px;
}

.restaurants {
  width: 500px;
  margin: 0 auto;
}

.inline {
  display: flex;
  align-items: center;
}

.inline p {
  margin: 0px;
}

.inline h4 {
  margin: 0px;
  margin-right: 10px;
}

